<footer>
  <div class="social">
    <a href="https://twitter.com/{{ site.twitter.username }}">{% include icons/twitter.svg %}<span>@{{ site.twitter.username }}</span></a>
    <a href="https://github.com/{{ site.github_username }}">{% include icons/github.svg %}<span>{{ site.github_username }}</span></a>
    <a href="https://www.strava.com/athletes/14327461">{% include icons/strava.svg %}<span>Matthew Simpson</span></a>
    <a href="https://www.linkedin.com/in/typhoon2099">{% include icons/linkedin.svg %}<span>typhoon2099</span></a>
  </div>
  <div class="copyright">&copy; Matthew Simpson</span>
</footer>
