<section class="interesting-links">
    <h2>Other Posts You May Enjoy</h2>
    <div>
      {% for post in site.related_posts limit:6 %}
        <article>
            <a href="{{ post.url }}">
              {% if post.image %}
                {% picture related {{ post.image }} --alt {{ post.image_alt }} %}
              {% else %}
                {% picture related /images/code_face.jpg --alt 'Code Face' %}
              {% endif %}
                <div>
                    <h3>{{ post.title }}</h3>
                    <p>{{ post.excerpt | strip_html }}</p>
                </div>
            </a>
        </article>
      {% endfor %}
    </div>
</section>
