<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="/css/index.css">
<link rel="icon" href="/favicon.ico" type="image/x-icon">

{% if jekyll.environment == "production" %}
  {% seo %}
{% else %}
  <meta name="robots" content="noindex,nofollow">
{% endif %}
<link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/rss.xml">
