<header id="luxbar" class="luxbar-fixed">
  <input type="checkbox" id="luxbar-checkbox" class="luxbar-checkbox"/>
  <div class="luxbar-menu luxbar-menu-right luxbar-menu-material-purple">
    <ul class="luxbar-navigation">
      <li class="luxbar-header">
        <a href="{{ site.url }}" class="luxbar-brand">
          {% picture logo /images/code_face.jpg --picture class="logo" --alt Code Face %}
          {{ site.title }}
        </a>
        <label class="luxbar-hamburger luxbar-hamburger-doublespin"
          for="luxbar-checkbox"
        ><span></span></label>
      </li>
      <li class="luxbar-item"><a href="/">Home</a></li>
      <li class="luxbar-item"><a href="/blog">Blog</a></li>
      <li class="luxbar-item"><a href="/comedy">Comedy</a></li>
    </ul>
  </div>
</header>
