<div class="posts">
  {% for post in site.posts %}
  {% if post.date %}
  <article>
    <a href="{{ post.url }}">
      <h2>{{ post.title }}</h2>
      <time datetime="{{ post.date | date_to_xmlschema }}">
        {{ post.date | date: "%A %d %B, %Y" }}
      </time>
      <p>{{ post.excerpt | strip_html }}</p>
    </a>
  </article>
  {% endif %}
  {% endfor %}
</div>
