<!DOCTYPE html>
<html lang="en-GB">
<head>
    {% include head.html %}
</head>
<body>
{% include header.html %}
<main id="main" class="main">
  {{ content }}
</main>
{% include footer.html %}
</body>
</html>
