---
layout: base
---
<article>
  <header>
    {% if page.image %}
      {% picture title {{ page.image }} %}
    {% endif %}
    <div>
      <h1>{{ page.title }}</h1>
      {% if page.date %}
      <time datetime='{{ page.date | date_to_xmlschema }}'>{{ page.date | date: "%A %d %B, %Y" }}</time>
      {% endif %}
    </div>
  </header>
  <section>
    {{ content }}
  </section>
</article>
{% include footer_retention.html %}
