---
layout: post
---
{{ content }}
{% if page.youtube_id %}
  {% include youtube.html id=page.youtube_id %}
{% endif %}
{% if page.imdb %}
  <p>
    <a href="{{ page.imdb }}" target="_blank">View on IMDB</a>
  </p>
{% endif %}
