---
title: Blog
excerpt: My blog featuring ramblings and probably more rants than it should
layout: default
permalink: /blog/index.html
---

<div class="posts">
    {% for post in site.posts %}
    {% if post.date %}
    <article>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.date %}
        <time datetime='{{ post.date | date_to_xmlschema }}'>{{ post.date | date: "%A %d %B, %Y" }}</time>
        {% endif %}
        <p>{{ post.excerpt | strip_html }}</p>
        <p class="read_more"><a href="{{ post.url }}">Read More</a></p>
    </article>
    {% endif %}
    {% endfor %}
</div>
