---
title: Comedy
excerpt: Comedy created by me. I'll post lots of different types of stuff on here, keep an eye going. Or don't, I'm not your dad.
layout: default
permalink: /comedy/index.html
---

<p>You've found my comedy page! I'm going to post anything that I do that's even remotely funny.
I'm trying to be more proactive with creating content so there will eventually a lot of stuff on here.</p>

<div class="posts">
    {% for post in site.categories.Comedy %}
    {% if post.date %}
    <article>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
        {% if post.date %}
        <time datetime='{{ post.date | date_to_xmlschema }}'>{{ post.date | date: "%A %d %B, %Y" }}</time>
        {% endif %}
        <p>{{ post.excerpt | strip_html }}</p>
        <p class="read_more"><a href="{{ post.url }}">Read More</a></p>
    </article>
    {% endif %}
    {% endfor %}
</div>
