article {
  & header {
    position: relative;
    height: calc(100vh - var(--header-height));
    & picture {
      display: block;
      height: 100%;
    }
    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
    & div {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      padding: var(--base-padding);
      text-shadow: 0 0 0.4em var(--main-color);
      color: var(--article-image-heading);
    }
    & h1 {
      margin: 0;
    }
    & time {
      margin: 0;
      width: 100%;
      text-align: right;
      align-self: end;
    }
  }
  & section {
    padding: var(--base-padding);
    max-width: 55rem;
    margin: auto;
  }
}

.with-image {
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 0.4em var(--main-color);
  color: var(--article-image-heading);
  height: calc(100vh - var(--header-height));
}
