.luxbar-fixed {
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.luxbar-hamburger span, .luxbar-hamburger span::before, .luxbar-hamburger span::after {
  display: block;
  height: 2px;
  width: 26px;
  transition: 0.6s ease;
}

.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span {
  background-color: transparent;
}

.luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::before, .luxbar-checkbox:checked ~ .luxbar-menu li .luxbar-hamburger span::after {
  margin-top: 0;
}

.luxbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: var(--header-height);
  overflow: hidden;
}

.luxbar-menu-left .luxbar-navigation, .luxbar-menu-left .luxbar-header {
  justify-content: flex-start;
}

.luxbar-menu-right .luxbar-hamburger {
  margin-left: auto;
}

.luxbar-brand {
  font-family: var(--head-font);
  font-size: 1.6rem;
  padding: 0;
  display: flex;
  text-align: center;
  align-items: center;
  text-decoration: none;
}

.luxbar-menu {
  min-height: 58px;
  transition: 0.6s ease;
  width: 100%;
}

.luxbar-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.luxbar-menu a,
.luxbar-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.luxbar-item {
  height: 58px;
}

.luxbar-item a {
  padding: 18px 24px 18px 24px;
  display: block;
}

.luxbar-hamburger {
  padding: 18px 24px 18px 24px;
  position: relative;
  cursor: pointer;
}

.luxbar-hamburger span::before, .luxbar-hamburger span::after {
  content: '';
  position: absolute;
}

.luxbar-hamburger span::before {
  margin-top: -8px;
}

.luxbar-hamburger span::after {
  margin-top: 8px;
}

.luxbar-checkbox {
  display: none;
}

.luxbar-checkbox:not(:checked) ~ .luxbar-menu {
  overflow: hidden;
  height: 58px;
}

.luxbar-checkbox:checked ~ .luxbar-menu {
  transition: height 0.6s ease;
  height: 100vh;
  overflow: auto;
}

.dropdown {
  position: relative;
  height: auto;
  min-height: 58px;
}

.dropdown:hover > ul {
  position: relative;
  display: block;
  min-width: 100%;
}

.dropdown > a::after {
  position: absolute;
  content: '';
  right: 10px;
  top: 25px;
  border-width: 5px 5px 0;
  border-color: transparent;
  border-style: solid;
}

.dropdown > ul {
  display: block;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
}

.dropdown > ul .luxbar-item {
  min-width: 100%;
  height: 29px;
  padding: 5px 10px 5px 40px;
}

.dropdown > ul .luxbar-item a {
  min-height: 29px;
  line-height: 29px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .luxbar-navigation {
    flex-flow: row;
    justify-content: flex-end;
  }

  .luxbar-hamburger {
    display: none;
  }

  .luxbar-checkbox:not(:checked) ~ .luxbar-menu {
    overflow: visible;
  }

  .luxbar-checkbox:checked ~ .luxbar-menu {
    height: 58px;
  }

  .luxbar-menu .luxbar-item {
    border-top: 0;
  }

  .luxbar-menu-right .luxbar-header {
    margin-right: auto;
  }

  .dropdown {
    height: 58px;
  }

  .dropdown:hover > ul {
    position: absolute;
    left: 0;
    top: 58px;
    padding: 0;
  }

  .dropdown > ul {
    display: none;
  }

  .dropdown > ul .luxbar-item {
    padding: 5px 10px;
  }

  .dropdown > ul .luxbar-item a {
    white-space: nowrap;
  }
}

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-doublespin span::before {
  transform: rotate(225deg);
}

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-doublespin span::after {
  transform: rotate(-225deg);
}

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-spin span::before {
  transform: rotate(45deg);
}

.luxbar-checkbox:checked + .luxbar-menu .luxbar-hamburger-spin span::after {
  transform: rotate(-45deg);
}

.luxbar-menu-material-purple,
.luxbar-menu-material-purple .dropdown ul {
  background-color: var(--main-color);
  color: #ffffff;
}

.luxbar-menu-material-purple {
  & .active,
  & .luxbar-item:hover {
    background-color: lighten(var(--main-color), 10);
  }
  & .luxbar-hamburger span,
  & .luxbar-hamburger span::before,
  & .luxbar-hamburger span::after {
    background-color: #ffffff;
  }
}
