:root {
  --background: #ffffff;
  --text-color: #494451;
  --main-color: #673ab7;
  --compliment: #e4fa3d;
  --article-divider: #c6c2ce;
  --article-heading: var(--text-color);
  --article-image-heading: #ffffff;
  --terminal-color: #d7cfe6;
  --terminal-background: #000000;
  --blockquote-background: #d7cfe6;
  --base-font-size: 20px;
  --base-line-height: 1.5rem;
  --base-padding: 1rem;
  --head-font: 'Familiar Pro', Tahoma, Arial, sans-serif;
  --main-font: 'Roboto', Tahoma, Arial, sans-serif;
  --code-font: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  --header-height: 58px;
  @media (prefers-color-scheme: dark) {
    --background: #131117;
    --text-color: #d7cfe6;
    --article-heading: #ffffff;
    --blockquote-background: #000000;
  }
}
